# 3-10 列联表检验（卡方检验）

* 卡方检验要求所有期望数不小于5

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
from scipy import stats

from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

%precision 3
%matplotlib inline

In [2]:
1 - stats.chi2.cdf(x=6.667, df=1)

0.010

In [3]:
click_data = pd.read_csv("3-10-1-click_data.csv")
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [4]:
cross = pd.pivot_table(
    data=click_data,
    values='freq',
    aggfunc='sum',
    index='color',
    columns='click'
)
cross

click  click  not
color
blue      20  230
red       10   40

In [5]:
stats.chi2_contingency(cross, correction=False)

Chi2ContingencyResult(statistic=6.666666666666666, pvalue=0.009823274507519247, dof=1, expected_freq=array([[ 25., 225.],
       [  5.,  45.]]))